<style>
.div{background-color: aqua; height: 250px; width: 300px; padding: 5px;}
</style>
<div class="div">
<a href="/clientes"><h1>Insert</h1></a>
<hr>
<form method="POST">
    <label for="nombre_c">Nombre:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="nombre_c" name="nombre_c" placeholder="Nombre">
    <br>
    <label for="apepat_c">Apellido Paterno:&nbsp;&nbsp;</label>
    <input type="text" id="apepat_c" name="apepat_c" placeholder="Apellido Paterno">
    <br>
    <label for="apemat_c">ApellidoMaterno: &nbsp;</label>
    <input type="text" id="apemat_c" name="apemat_c" placeholder="Apellido Materno">
    <br>
    <label for="telefono_c">Telefono: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="text" id="telefono_c" name="telefono_c" placeholder="Telefono">
    <br>
    <label for="email">Email: &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</label>
    <input type="email" id="email" name="email" placeholder="Email">
    <br><br>
    <center><button type="submit" class="btn btn-primary">Insert</button></center>
</form>
</div>